/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

// default from vuepress
.home .hero img
  max-width 450px!important

// sets background for most items
body, .page, .theme-container, .sidebar, .sidebar-group, nav, .navbar, .nav-dropdown, .search-box, .links, header
	background: #171717 !important


// side bar css
// side bar container
.sidebar
	border-right: none

