/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */


html, body, .page, .header, .sidebar, .theme-container, .open, .sidebar-links, .sidebar-group, .sidebar-heading, .sidebar-link, .navbar, nav, .links, .search-box, .nav-links, header, .nav-link, .nav-dropdown, .dropdown-item
	color: white !important
	background: #171717!important


.home .hero img
  max-width 450px!important



body 
	background: #171717
	min-height: 100vh
	max-width: 100%


#tt-footer 
	margin: auto
	max-width: 80%



.sidebar 
	background: transparent
	width: 20%
	