/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = white
$textColor = white
$borderColor = #eaecef
$codeBgColor = #282c34
$contentWidth = 100%
$bgColor = #171717